# Dependencies
/node_modules
.gitigonore 
.vscode/
# 8frontend
/vendor # สำหรับ Go modules

# Go artifacts
/backend/bin
/backend/pkg
/backend/build
/backend/*.exe
/backend/*.test
/backend/*.o

# Next.js build output
/.next

# Environment variables
.env*
.vercel

toothtoday-gcs.json