# Dependencies
/node_modules
.gitigonore 

# frontend
frontend/node_modules
/vendor # สำหรับ Go modules

# Go artifacts
/backend/bin
/backend/pkg
/backend/build
/backend/*.exe
/backend/*.test
/backend/*.o

# Next.js build output
/.next
/frontend/.next

# Environment variables
.env*